<?xml version="1.0"?>
<config>
  <modules>
    <Born_Vat>
      <version>0.1.0</version>
    </Born_Vat>
  </modules>
  <frontend>
    <routers>
      <vat>
        <use>standard</use>
          <args>
            <module>Born_Vat</module>
            <frontName>vat</frontName>
          </args>
      </vat>
    </routers>
  </frontend>
  <global>
	<resources>
		<vat_setup>
		  <setup>
			<module>Born_Vat</module>
			<class>Mage_Eav_Model_Entity_Setup</class>
		  </setup>
		  <connection>
			<use>core_setup</use>
		  </connection>
		</vat_setup>
		<vat_setup_write>
		  <connection>
			<use>core_write</use>
		  </connection>
		</vat_setup_write>
		<vat_setup_read>
		  <connection>
			<use>core_read</use>
		  </connection>
		</vat_setup_read>
	</resources>
    <helpers>
      <vat>
        <class>Born_Vat_Helper</class>
      </vat>
    </helpers>
    <models>
	  <vat>
	  	 <class>Born_Vat_Model</class>		  	   	
	  </vat>	
	  <tax>
	  	<rewrite>
	          <calculation>Born_Vat_Model_Tax_Calculation</calculation>
	    </rewrite>	
	  </tax>	  	    
    </models>
  </global>
</config> 
